
<%= render @friend %>

<div class="form-inline">
  <%= link_to "Edit this friend", edit_friend_path(@friend),class:"btn btn-dark mr-1"%> 

  <%= link_to "Back to friends", friends_path,class:"btn btn-dark mr-1" %>

  <%= button_to "Delete", @friend, method: :delete , class:"btn btn-dark " %>
</div>
